src/main/mule/jenkinsexample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="98480955-3b11-48ce-a12f-0ab131ea52cc" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="c2856130-5693-43a4-9270-4cf8eed8bb98" file="config.yaml" />
	<flow name="jenkinsexampleFlow" doc:id="31a2ec97-0d6e-4a72-a1ec-d04b48b7516c" >
		<http:listener doc:name="/cicd" doc:id="5d70f926-f2f6-46c3-ad38-19a2681d419a" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="4878acea-c325-4129-9259-3640382b675d" message="This is for CICD example check --- #[payload]"/>
	</flow>
</mule>
